<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			<%= page_title %>
		</title>
		
		<%= stylesheet_link_tag "reset", "application" %>
		
		<%= yield :html_head %>
		
	</head>
	<body>
		<div id="nav">
			<%= render_menu(:depth => 3, :show_all_siblings => true) %>
		</div>
		<div id="content">
			<div id="left">
				<%= container :main %>
			</div>
			<div id="right">
				<%= container :right %>
			</div>
		</div>
	</body>
</html>
